.order-details  label{
    padding-top: 10px;
}
.checkout span{
    color:red;
}
footer a{
    text-decoration: none;
    color: #7C7C7C;
}
footer a:hover{
    text-decoration: none;
    color: beige;
}
/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 40px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

/* End of Star Rating */
.checked{
    color:#DE6B16;
}

.card img{
  object-fit:cover;
}
.card-image{
  inset:0;
  transition: transform .75s;
}
.card:hover .card-image{
  transform: scale(1.15);
}
.prod_img{
  inset:0;
  transition: transform .75s;
}
.prod_img:hover{
  transform: scale(1.05);

}
.card s{
  float: right;
}
.search{
  width: 27%;
  padding-left: 2%;
  
}
.ui-menu{
  z-index: 3500 !important;
}

