.order-details  label{
    padding-top: 10px;
}
.checkout span{
    color:red;
}
footer a{
    text-decoration: none;
    color: #7C7C7C;
}
footer a:hover{
    text-decoration: none;
    color: beige;
}